
@model DMX.ViewModels.AddExcuseDutyVM;




<div class="modal fade" id="AddExcuseDuty" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Add Excuse Duty</h6>
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
            <div class="modal-body">


            @using (Html.BeginForm("AddExcuseDuty", "Document", FormMethod.Post))
            {
                    <div class="did-floating-label-content">
                        <input type="text" asp-for="@Model.Name" class="did-floating-input" placeholder=""/>
                        <label class="did-floating-label">Name</label>
                        </div>
                    <div class="did-floating-label-content">
                        <input type="text" class="did-floating-input" asp-for="@Model.OperationDiagnosis"  placeholder=""/>
                        <label class="did-floating-label">Diagnosis</label>
                        
                    </div>
                        <div class="did-floating-label-content">

                        <input type="date" asp-for="@Model.DateofDischarge" class="did-floating-input" asp-format="{0:dd/MMM/yyyy}" />

                        <label class="did-floating-label">Date of Discharge</label>
                            
                    </div>
                        <textarea class="did-floating-input" type="text" placeholder="Additional Information" asp-for="@Model.OperationDiagnosis" required="required" style="min-height:300px"></textarea>
                   @*      <div class="form-group">

                            <textarea class=" form-control" asp-for="@Model.Name" type="text" placeholder="Additional Information"></textarea>
                        </div> *@
                        <div class="form-group">
                            <select type="text" id="selectUser" class="select2" asp-items="@Model.UsersList" asp-for="@Model.SelectedUsers" multiple="multiple"></select>

                        </div>
                        <button class="btn btn-block btn-primary">Save</button>
            }


        </div>
    </div>
</div>
    <script>
        $(document).ready(function () {

            $('#selectUser').select2({ dropdownParent: $('#AddExcuseDuty') })
        });
    </script>
