
@model DMX.ViewModels.MeetingAttendanceVM;

<div class="modal fade" id="MeetingAttendance" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Add Meeting</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
             @using (Html.BeginForm("MeetingAttendance", "Training", FormMethod.Post))
            {
            <div class="modal-body">
                    <div class="did-floating-label-content">
                        <input type="text" asp-for="@Model.EventName" class="did-floating-input" placeholder=""/>
                        <label class="did-floating-label">Meeting Name</label>
                    </div>
                    <div class="did-floating-label-content">
                        <input type="text" asp-for="@Model.EventId"  class="did-floating-input" placeholder=""/>
                        <label class="did-floating-label">Meeting Description</label>
                    </div>
                    <div class="did-floating-label-content">
                        <input type="Date" asp-for="@Model.Date" class="did-floating-input" placeholder="" />
                        <label class="did-floating-label">Date</label>
                    </div>
                    <div class="did-floating-label-content">
                        <select id="UserList" class="did-floating-select" style="width:100%" required asp-items="@Model.Attendees" asp-for="@Model.SelectedParticipants"></select>
                    <label class="did-floating-label">Select Attendees</label>
                    </div>
                    </div>
                    <div class="modal-footer"><button class="btn btn-block btn-primary">Save</button></div>
                }
            </div>
    </div>
</div>
<script>
       $(document).ready(function () {

            $('#UserList').select2({ dropdownParent: $('#MeetingAttendance') });
        });
</script>
    
