
@model DMX.ViewModels.MemoCommentVM;

<div class="modal fade" id="CommentMemo" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Add Comment</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CommentMemo", "Memo", FormMethod.Post))
               {


         
                <div class="accordion" id="accordionMemoComment">
                    <div class="card">
                        <div class="card-header" data-bs-toggle="collapse" data-bs-target="#collapseMemoDetail" aria-expanded="true">
                            <span class="title">Memo Content</span>
                           @*  <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span> *@
                        </div>
                        <div id="collapseMemoDetail" class="collapse show" data-parent="#accordionMemoComment">
                            <div class="card-body">
                                @Html.Raw(Model.MemoContent)  
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header collapsed" data-bs-toggle="collapse" data-bs-target="#collapseMinutes" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="title">Minutes/Comments</span>
                           @*  <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span> *@
                        </div>
                        <div id="collapseMinutes" class="collapse" data-parent="#accordionMemoComment">
                            <div class="card-body">
                                @foreach (var comment in Model.Comments)
                                {

                                    <div class="card p-3 mt-1">
                                        <div class="justify-content-between align-items-center">
                                            <div class="align-items-center">
                                               
                                               
                                                    <small class="font-weight-bold">@comment.CreatedBy</small>
                                              
                                                <small class="fa-pull-right">

                                                    <time class="timeago" datetime="@comment.CreatedDate.Value.ToString("F")"></time>

                                                </small>

                                                <div>@Html.Raw(@comment.Message)</div>



                                            </div>
                                        </div>

                                    </div>







                                }

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">
                            <span class="title">New Comment</span>
                           @*  <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span> *@
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordionMemoComment">
                            
                                    <div class="card-body">

                                    <div class="form-group">
                                <textarea class="form-control" id="newComment" asp-for="@Model.NewComment"></textarea>
                                </div>

                                    <button class="btn btn-block btn-primary">Save Comment</button>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
                     }
                     </div>
           
        </div>
    </div>
    </div>
@functions {
    Random random = new Random();

    public string GenerateRandomColor()
    {
        // Generate random RGB values
        int r = random.Next(0, 256);
        int g = random.Next(0, 256);
        int b = random.Next(0, 256);

        // Return color in hexadecimal format
        return $"#{r:X2}{g:X2}{b:X2}";
    }
}

    <script>

  $(document).ready( function () {

        $('time.timeago').timeago();
    });

    $(document).ready(function () {
        tinymce.init({ selector: '#newComment' });
    });
</script>
   