
@model DMX.ViewModels.AddLetterVM;

<div class="modal fade" id="AddLetter" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Add Letter</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
            <div class="modal-body">

            @using (Html.BeginForm("AddLetter", "Letter", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                        <div class="did-floating-label-content">
                            <input type="text" asp-for="@Model.ReferenceNumber" class="did-floating-input" placeholder="" required/>
                            <label class="did-floating-label">Reference Number</label>
                        </div>
                        <div class="did-floating-label-content">
                            <input type="text" asp-for="@Model.DocumentSource"  class="did-floating-input" placeholder="" required/>
                            <label class="did-floating-label">Document Source</label>
                        </div>
                            <div class="did-floating-label-content">

                        <input type="date" asp-for="@Model.ReceiptDate" class="did-floating-input" asp-format="{0:dd/MMM/yyyy}" placeholder="" required />
                           
                          <label class="did-floating-label">Receipt Date</label>
                           </div>
                      
                            <div class="did-floating-label-content">

                        <input type="date" asp-for="@Model.DocumentDate" class="did-floating-input" asp-format="{0:dd/MMM/yyyy}" placeholder=""  required />
                               <label class="did-floating-label">Document Date</label>
                            </div>
                         
                                   
                    <div class="form-group">
                            <input class=" form-control custom-custom-file-input" id="formFile" name="formFile" type="file" asp-for="UploadFile" multiple />

                    </div>
                            
                     <div class="form-group">
                                <textarea class="did-floating-input" asp-for="@Model.AdditionalNotes" type="text" placeholder="Additional Information" required></textarea>
                            </div>

                            <button class="btn btn-block btn-primary">Save</button>
            }


        </div>
    </div>
</div>
</div>