@model DMX.ViewModels.AddLetterVM
<dialog id="AddLetterDialog" class="border-0 rounded p-0 col-md-4">
  
            <div class="modal-header">
                <h6>Add Letter</h6>
        <button type="button" aria-label="Close" class="btn btn-sm btn-outline-danger" onclick="document.getElementById('AddLetterDialog').close()">Close</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddLetter", "Letter", FormMethod.Post, new { id = "addLetterForm", enctype = "multipart/form-data" }))
                {
                    <div class="did-floating-label-content">
                        <input type="text" asp-for="@Model.Subject" class="did-floating-input" placeholder="" required />
                        <label class="did-floating-label">Subject</label>
                    </div>
                    <div class="did-floating-label-content">
                        <input type="text" asp-for="Source" class="did-floating-input" placeholder="" required />
                        <label class="did-floating-label">Document Source</label>
                    </div>
                    <div class="did-floating-label-content">
                        <input type="date" asp-for="@Model.ReceiptDate" class="did-floating-input" asp-format="{0:dd/MMM/yyyy}" placeholder="" required />
                        <label class="did-floating-label">Receipt Date</label>
                    </div>
                    <div class="did-floating-label-content">
                        <input type="date" asp-for="@Model.DocumentDate" class="did-floating-input" asp-format="{0:dd/MMM/yyyy}" placeholder="" required />
                        <label class="did-floating-label">Document Date</label>
                    </div>
                    <div class="form-group">
                        <input type="file" id="formFile" name="formFile" asp-for="UploadFile" hidden />
                        <label for="formFile" class="uploadLabel">
                            <i class="fa fa-cloud-upload" style="color: #1e4c82; font-size: medium"></i>
                            <label id="sFile">Select file</label>
                    <span id="file-chosen" class="ellipsed-text">No file chosen</span>
                        </label>
                    </div>
                    <div class="did-floating-label-content">
                        <input class="did-floating-input" asp-for="@Model.AdditionalNotes" type="text" placeholder="" required />
                        <label class="did-floating-label">Additional Notes</label>
                    </div>
                
                        <select id="usersAddLetter" class="dmx-choices" asp-items="@Model.UsersList" asp-for="@Model.SelectedUsers"></select>
                       
                   
                    <button id="saveButton" type="button" class="btn btn-block btn-primary">Save</button>
                }
            </div>
      
</dialog>

<script>
    document.addEventListener("DOMContentLoaded", ()=>{
  

        const actualBtn = document.getElementById('formFile');
        const selectFile = document.getElementById('sFile');
        const fileChosen = document.getElementById('file-chosen');

        actualBtn.addEventListener('change', function () {
            fileChosen.textContent = this.files[0].name;
            selectFile.textContent = "Selected file";
        });

    
    });
</script>
