@model DMX.ViewModels.AddLetterVM
<dialog id="AddLetterDialog" class="border-0 rounded p-0 col-md-4">
  
            <div class="modal-header">
                <h6>Add Letter</h6>
        <button type="button" aria-label="Close" class="btn btn-sm btn-outline-danger" onclick="document.getElementById('AddLetterDialog').close()">Close</button>
            </div>   @using (Html.BeginForm("AddLetter", "Letter", FormMethod.Post, new { id = "addLetterForm", enctype = "multipart/form-data" }))
                {
            <div class="modal-body">
             
                    <div class="floating-group">
                        <input type="text" asp-for="@Model.Subject"  placeholder="" required />
                        <label >Subject</label>
                        <i class="fas fa-heading"></i>
                    </div>
                    <div class="floating-group">
                        <input type="text" asp-for="Source"  placeholder="" required />
                        <label >Document Source</label>
                        <i class="fas fa-map-location"></i>
                    </div>
                    <div class="floating-group">
                        <input type="date" asp-for="@Model.ReceiptDate"  asp-format="{0:dd/MMM/yyyy}" placeholder="" required />
                        <label >Receipt Date</label>
                        <i class="fas fa-calendar-minus"></i>
                    </div>
                    <div class="floating-group">
                        <input type="date" asp-for="@Model.DocumentDate"   placeholder="" required />
                        <label >Document Date</label>
                        <i class="fas fa-calendar-check"></i>
                    </div>
                    <div class="form-group">
                        <input type="file" id="formFile" name="formFile" asp-for="UploadFile" hidden />
                        <label for="formFile" class="uploadLabel">
                            <i class="fa fa-cloud-upload" style="color: #1e4c82; font-size: medium"></i>
                            <label id="sFile">Select file</label>
                    <span id="file-chosen" class="ellipsed-text">No file chosen</span>
                        </label>
                    </div>
                    <div class="floating-group">
                        <input  asp-for="@Model.AdditionalNotes" type="text" placeholder="" required />
                        <label >Additional Notes</label>
                        <i class="fas fa-comment"></i>
                    </div>
            <div class="floating-group">
                        <select id="usersAddMemo" class="dmx-choices" asp-items="@Model.UsersList" asp-for="@Model.SelectedUsers"></select>
                <label >Select Users</label>
            </div>
                   </div>
                   <div class="modal-footer">
                    <button id="saveButton" class="btn btn-block btn-primary">Save</button></div>
                }
            
      
</dialog>

<script>
    document.addEventListener("DOMContentLoaded", ()=>{
  

        const actualBtn = document.getElementById('formFile');
        const selectFile = document.getElementById('sFile');
        const fileChosen = document.getElementById('file-chosen');

        actualBtn.addEventListener('change', function () {
            fileChosen.textContent = this.files[0].name;
            selectFile.textContent = "Selected file";
        });

    
    });
</script>
