
@model DMX.ViewModels.AddPettyCashVM;


<dialog class=" border-0 rounded py-0" id="AddPettyCashDialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Add Petty Cash</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
            <div class="modal-body">

            @using (Html.BeginForm("AddPettyCash", "PettyCash", FormMethod.Post, new{id="addPettyCashForm"}))
            { 
                    <div class="did-floating-label-content">
                        <input type="number" step="0.0001" asp-for="@Model.Amount" class="did-floating-input" max="@Model.Maximum" required />
                        <label class="did-floating-label">Amount</label>
                    </div>
                        <div class="did-floating-label-content">
                            <input type="text" asp-for="@Model.Purpose"  class="did-floating-input" placeholder="" required/>
                            <label class="did-floating-label">Purpose</label>
                        </div>
            
                    <div class="form-group">
                        <div class="did-floating-label-content">
                        <select id="selectPettyCashUser" class="dmx-choices did-floating-select"   asp-items="@Model.UsersList" asp-for="@Model.SelectedUsers"></select>
                            <label class="did-floating-label">Select Approver(s)</label>
                        </div>
                        </div>
                        <button id="btnAddPettyCash" class="btn btn-block btn-primary">Save</button>       
            }
        </div>
    </div>
</div>
</dialog>
    <script>
        $(document).ready(function () {


            $('#selectPettyCashUser').select2({
                dropdownParent: $('#AddPettyCashDialog')
            });

         const addExcuseDutyFormSelector = '#addPettyCashForm';

            const form = document.querySelector(addExcuseDutyFormSelector);
         document.getElementById("btnAddPettyCash").addEventListener("click", function (event) {
            event.preventDefault(); // Prevent immediate submission
                if (!form.checkValidity()) {
                form.reportValidity(); // Display browser validation messages
                return; // Stop further execution if validation fails
            }

            Swal.fire({
                title: 'Are you sure?',
                text: "Do you really want to save this record?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, save it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById("addPettyCashForm").submit(); // Correct form ID
                }
            });
        });
    });

</script>



