@using DMX.Constants
@using DMX.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using System.Web
@inject IAuthorizationService auth
@inject UserManager<AppUser> usm;
@inject DMX.Data.XContext dcx;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<DMX.ViewModels.ViewMemosVM>;


@inject Microsoft.AspNetCore.DataProtection.IDataProtectionProvider DataProtectionProvider
@using Microsoft.AspNetCore.DataProtection
@{
    // Optional: create protector in view (same purpose string)
    var protector = DataProtectionProvider.CreateProtector("IdProtector");
}




<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">Memos</h6>
        
          
        <button id="btnAddMemo" class="btn btn-sm btn-rounded  btn-outline-primary fa-pull-right" onclick="document.getElementById('AddMemoDialog').showModal()"><i class="fa fa-fw fa-plus-circle"></i>Add Memo</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <table class="table dataTables_wrapper">
                <thead>
                    <tr><th>SN</th>
                        <th>RefN</th>
                        <th>Title</th>
                        <th>Sender</th>
                        <th>Assignee(s)</th>  
                     
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                      @foreach (var Memo in Model)
                {
                    <tr>
                        <td></td>
<td>@Memo.ReferenceNumber</td>
                        <td class="ellipsed-text"> @Memo.Title</td>
                        
                        <td class="ellipsed-text">@Memo.Sender</td>
@foreach(var assignee in @Memo.Assignees)
{
                        <td><span class="badge badge-pill badge-dark">@assignee</span></td>
}
                           <td>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-rounded btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select Action
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                   @if(dcx.MemoComments.Any(c=>c.PublicId==Memo.MemoId))
                                   {
                                            <button data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("EditMemo", new { Id = @protector.Protect((Memo.MemoId).ToString()) })" class="dropdown-item-custom d-none" data-bs-target="#EditMemo"><i style="width:15px; height:15px" class=" fa fa-edit mr-3"></i>Edit</button>
                                        
                                   }
                                        else
                                        {
                                            @if((await auth.AuthorizeAsync(User,"EditMemo")).Succeeded)
                                            {
                                               
                                            <button data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("EditMemo", new { Id = @protector.Protect(Memo.MemoId.ToString()) })" class=" dropdown-item-custom" data-bs-target="#EditMemo"><i style="width:15px; height:15px" class=" fa fa-edit mr-3"></i>Edit</button>
                                            }
                                       }
                                        @if ((await auth.AuthorizeAsync(User, Permissions.Modules.CommentMemo)).Succeeded)
                                        {
                                        <button type="button" data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("CommentMemo", new { Id= @protector.Protect(Memo.MemoId.ToString())})" class="dropdown-item-custom" data-bs-target="#CommentMemo"><i style="width:15px; height:15px" class="fa fa-comments mr-3"></i>Comment</button>
                                        
                                        }
                                       @*  <form asp-action="PrintMemo" asp-route-Id="@protector.Protect(Memo.MemoId)" asp-controller="Memo" method="get">
                                            <button type="submit" class="dropdown-item-custom"><i style="width:15px; height:15px" class="fa fa-print mr-3"></i>Print</button>
                                       
                                            </form> *@

                                        <a href="#" class="dropdown-item-custom" onclick="printMemoIframe('@HttpUtility.UrlEncode(@protector.Protect(Memo.MemoId.ToString()))')">
                                            <i style="width:15px; height:15px" class="fa fa-print mr-3"></i>Print
                                        </a>
                                        @if (( await auth.AuthorizeAsync(User,Permissions.Modules.DeleteMemo)).Succeeded)
                                        {
                                            <form asp-action="DeleteMemo" asp-route-Id="@protector.Protect(Memo.MemoId.ToString())" onsubmit="return jQueryAjaxDeleteMemo(this);">
                                                <button type="submit" class="dropdown-item-custom"><i style="width:15px; height:15px" class="fa fa-trash mr-3"></i>Delete</button>
                                            </form>
                                        }
                                       
                                    </div>
                            </div>

                        </td>
                    </tr>
             }
                </tbody>
            </table>
       </div>
       </div>

    <div class="card-footer">
    </div>
</div>
<iframe id="printFrame" style="display:none;"></iframe>

<script type="text/javascript">
    function printMemoIframe(memoId) {
        const printFrame = document.getElementById('printFrame');
        printFrame.src = `/Memo/PrintMemo?Id=${memoId}`;
        printFrame.onload = function () {
            printFrame.contentWindow.focus();
            printFrame.contentWindow.print();
        };
    }
    $(document).ready(function() {
        var table = $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    text: 'Export PDF',
                    title: 'Acme Corporation',
                    messageTop: 'Employee Report',
                    exportOptions: {
                        columns: ':visible'
                    },
                    customize: function (doc) {
                        // Add company logo
                        doc.content.splice(0, 0, {
                            alignment: 'center',
                            image: 'data:image/png;base64,YOUR_BASE64_ENCODED_IMAGE',
                            width: 100,
                            margin: [0, 0, 0, 10]
                        });
                        // Add company details
                        doc.content.splice(1, 0, {
                            alignment: 'center',
                            text: 'Acme Corporation\n1234 Elm Street, Springfield, USA\nTel: (555) 123-4567\nEmail: info@acmecorp.com',
                            margin: [0, 0, 0, 10]
                        });
                        // Adjust page margins
                        doc.pageMargins = [10, 10, 10, 10];
                        doc.defaultStyle.fontSize = 10;
                        doc.styles.tableHeader.fontSize = 12;
                        doc.styles.title.fontSize = 14;
                        // Customize footer with page number
                        doc['footer'] = function (currentPage, pageCount) {
                            return {
                                text: 'Page ' + currentPage.toString() + ' of ' + pageCount.toString(),
                                alignment: 'center',
                                margin: [0, 10, 0, 10]
                            };
                        };
                    }
                }
            ]
        });
    });
</script>

@await Component.InvokeAsync("AddMemo")