
@model DMX.ViewModels.AddTravelRequestVM;




<div class="modal fade" id="AddTravelRequest" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Add Travel Request</h6>
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
            <div class="modal-body">


            @using (Html.BeginForm("AddTravelRequest", "Document", FormMethod.Post))
            {

              

                        <div class="form-group">
                            <input type="text" asp-for="@Model.Name" class="form-control" placeholder="Name">

                        </div>



                        <div class="form-group ">
                            <input type="text" asp-for="@Model.NightAbsent" name="footer-email" class="form-control" placeholder="Night Absent">

                        </div>
                        <div class="form-group ">

                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text">Departure Date</span></div>


                                <input type="date" asp-for="@Model.DepartureDate" class="form-control" asp-format="{0:dd/MMM/yyyy}">


                            </div>
                        </div>
                        <div class="form-group ">
                            <input type="text" asp-for="@Model.FuelClaim" name="footer-email" class="form-control" placeholder="Night Absent">

                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text">Document Date</span></div>
                                <input type="date" asp-for="@Model.DateofReturn" class="form-control" asp-format="{0:dd/MMM/yyyy}">
                            </div>
                        </div>
                        <div class="form-group">
                            <select type="text" id="selectUser" class="select2 form-control" asp-items="@Model.UsersList" asp-for="@Model.SelectedUsers" multiple="multiple"></select>

                        </div>




                        <div class="form-group">


                            <textarea class=" form-control" asp-for="@Model.AdditionalNotes" type="text" placeholder="Additional Information"></textarea>


                        </div>

                        <button class="btn btn-block btn-primary">Save</button>



            }


        </div>
    </div>
</div>
