@using DMX.DataProtection
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<DMX.ViewModels.ViewExcuseDutiesVM>;


<div id="PlaceHolderHere"></div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">Excuse Duties</h6>

        <button class="btn btn-sm btn-rounded  btn-outline-primary fa-pull-right" data-bs-toggle="ajax-modal" data-bs-target="#AddExcuseDuty" data-bs-url="@Url.Action("AddExcuseDuty")"><i class="fa fa-fw fa-plus-circle"></i>Add Excuse Duty</button>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table dataTables_wrapper">
    
      
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Excuse Days</th>
               
                    <th>Diagnosis</th>
                 
                    <th>Date of Discharge</th>
                    
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var Excuse in Model)
                {
                    <tr>
                        <td>@Excuse.Name</td>
                            <td>@Excuse.Date.ToString("yyyy-MMM-dd")</td>
            <td>@Excuse.ExcuseDays</td>
            <td>@Excuse.OperationDiagnosis.Substring(1)</td>
                            <td>@Excuse.DateofDischarge.ToString("yyyy-MMM-dd")</td>
                        <td>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-rounded btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Select Action
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <button data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("EditExcuseDuty", new {Id= @Encryption.Encrypt(Excuse.ExcuseDutyId) })" class="dropdown-item-custom" data-bs-target="#EditExcuseDuty"><i style="width:15px; height:15px" class=" fa fa-edit mr-3"></i>Edit</button>
                                        <button class="dropdown-item-custom" data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("DetailExcuseDuty", new { Id = @Encryption.Encrypt(Excuse.ExcuseDutyId) })" data-bs-target="#DetailExcuseDuty "><i style="width:15px;height:15px" class="fa fa-info mr-3"></i>Detail</button>
                                        <button type="button" data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("CommentExcuseDuty")" class="dropdown-item-custom" data-bs-target="#CommentExcuseDuty"><i style="width:15px; height:15px" class="fa fa-comments mr-3"></i>Comment</button>
                                        <button class="dropdown-item-custom" asp-action="PrintProfile" asp-controller="Client" asp-route-Id="@Encryption.Encrypt(Excuse.ExcuseDutyId)"><i style="width:15px; height:15px" class="fa fa-print mr-3"></i>Print</button>
                                        <form asp-action="DeleteClient" asp-route-Id="" onsubmit="return jQueryAjaxDeleteExcuseDuty(this);">
                                            <button type="submit" class="dropdown-item-custom"><i style="width:15px; height:15px" class="fa fa-trash mr-3"></i>Delete</button>
                                        </form>
                                    </div>
                                </div>

                            </td>
                    </tr>
                }




            </tbody>
        </table>
    </div>

    </div>

        <div class="card-footer">
        </div>
    </div>
