
@using DMX.DataProtection
@using DMX.ViewComponents
@model IEnumerable<DMX.ViewModels.ViewPermissionsVM>


<div class="card shadow mb-4 rounded">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">Permissions</h6>

        
        <button id="openpermissionPanel" class="btn btn-sm btn-rounded  btn-outline-primary fa-pull-right" data-open="permissionPanel"><i class="fa fa-fw fa-plus-circle"></i>Add Permission</button>

    </div>
    <div class="card-body">
        <div class="table-responsive">




            <table class="table dataTables_wrapper" id="dtPermissions">
    <thead>
        <tr>
            <th>Role</th>
   
                        <th>Module</th>
                        <th>Action</th>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                
                        @foreach (var perm in Model)
                        {
                            <tr>
                                <td></td>
                                <td>@perm.ModuleName</td>
                                <td>@perm.ActionName</td>
                                <td>@perm.Code</td>
                                <td>@perm.Description</td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-outline-primary dropdown-toggle"
                                                type="button"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                            Select
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <button class="dropdown-item"
                                                        data-bs-toggle="ajax-modal"
                                                        data-bs-target="#EditPermissionModal"
                                                        data-bs-url="@Url.Action("EditPermission", "Permission", new { id = perm.PublicId })">
                                                    <i class="fa fa-edit me-2"></i> Edit
                                                </button>
                                            </li>
                                            <li>
                                                <form asp-action="DeletePermission"
                                                      asp-controller="Permission"
                                                      asp-route-id="@perm.PublicId"
                                                      onsubmit="return jQueryAjaxDelete(this);">
                                                    <button type="submit" class="dropdown-item text-danger">
                                                        <i class="fa fa-trash me-2"></i> Delete
                                                    </button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                   
                        
                    }
            
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Add Permission Partial -->
@await Component.InvokeAsync("AddPermission")
