
@using DMX.DataProtection
@model IEnumerable<DMX.ViewModels.ViewUsersVM>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">User Permissions</h6>

        <button class="btn btn-sm btn-rounded  btn-outline-primary fa-pull-right" data-bs-toggle="ajax-modal" data-bs-target="#AddUser" data-bs-url="@Url.Action("AddUser")"><i class="fa fa-fw fa-plus-circle"></i>Add User</button>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            
                <div class="card-body">
                    <table class="table" id="dataTable">
                        <thead>
                            <tr>

                            <tr>
                                <th>SN</th>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td></td>
                                    <td>@user.Fullname</td>
                                    <td> @user.Username</td>

                                    <td>@user.Email</td>

                                    <td>
                                        <div class="btn-group" role="group">
                                            <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-rounded btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Select Action
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                              @*   <button data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("ManagePermissions")" class="dropdown-item-custom" data-bs-target="#EditMemo"><i style="width:15px; height:15px" class=" fa fa-edit mr-3"></i>Manage</button>
                                      
                                                <a class="dropdown-item-custom" asp-action="ManagePermissions" asp-controller="Permission" asp-route-Id="@Encryption.Encrypt(user.UserId)"><i style="width:15px; height:15px" class="fa fa-print mr-3"></i>Manage Permissions</a> *@
                                                <button type="button" data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("ClientProfile")" class="dropdown-item-custom" data-bs-target="#ClientProfile"><i style="width:15px; height:15px" class="fa fa-comments mr-3"></i>Comment</button>
                                                <form asp-action="DeleteClient" asp-route-Id="" onsubmit="return jQueryAjaxDelete(this);">
                                                    <button type="submit" class="dropdown-item-custom"><i style="width:15px; height:15px" class="fa fa-trash mr-3"></i>Delete</button>
                                                </form>
                                            </div>
                                        </div>



                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
    </div>