@using DMX.Constants
@using DMX.DataProtection
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService auth;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<DMX.ViewModels.ViewServiceRequestsVM>;


<div id="PlaceHolderHere"></div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">Clients</h6>

        <button class="btn btn-sm btn-rounded  btn-outline-primary fa-pull-right" data-bs-toggle="ajax-modal" data-bs-target="#AddServiceRequest" data-bs-url="@Url.Action("AddServiceRequest")"><i class="fa fa-fw fa-plus-circle"></i>Add Service Request</button>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class=" table dataTables_wrapper">
        
                <thead>
                    <tr>
                       
                     <th>Number</th>    
                <th>Date</th>
                    <th>Requested By</th>
                    <th>Unit</th>
                    <th>Fault(s)</th>
                    <th>Inspected By</th>
                    <th>Action Taken</th>
                        <th>Assignee</th>
                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                      @foreach (var service in Model)
                {
                    <tr>
                        
                       <td>@string.Format("0:dd/MMM/yyyy", @service.RequestDate)</td>
                        <td>@service.FaultInspectedBy</td>
                        <td>@service.RequestNumber</td>
                        <td>@service.ServiceRequestedBy</td>
                        <td>@service.RequestNumber</td>

                        <td>@service.ActionToBeTaken</td>
                        <td>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-rounded btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Select Action
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        @if (( await auth.AuthorizeAsync(User,Permissions.Modules.EditServiceRequest)).Succeeded)
                                        { <button data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("EditMemo")" class="dropdown-item-custom" data-bs-target="#EditMemo"><i style="width:15px; height:15px" class=" fa fa-edit mr-3"></i>Edit</button>
                                        }
                                      
                                         @if (( await auth.AuthorizeAsync(User,Permissions.Modules.PrintServiceRequest)).Succeeded)
                                        {<a class="dropdown-item-custom" asp-action="PrintProfile" asp-controller="Client" asp-route-Id="@Encryption.Encrypt(service.ServiceRequestId)"><i style="width:15px; height:15px" class="fa fa-print mr-3"></i>Print</a>
                                        }
                                         @if (( await auth.AuthorizeAsync(User,Permissions.Modules.CommentServiceRequest)).Succeeded)
                                        {<button type="button" data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("ClientProfile")" class="dropdown-item-custom" data-bs-target="#ClientProfile"><i style="width:15px; height:15px" class="fa fa-comments mr-3"></i>Comment</button>
                                        } @if ((await auth.AuthorizeAsync(User, Permissions.Modules.DeleteServiceRequest)).Succeeded)
                                        {
                                            <form asp-action="DeleteClient" asp-route-Id="" onsubmit="return jQueryAjaxDelete(this);">
                                                <button type="submit" class="dropdown-item-custom"><i style="width:15px; height:15px" class="fa fa-trash mr-3"></i>Delete</button>
                                        </form>}
                                    </div>
                                </div>

                            </td>
                    </tr>
             }
                </tbody>
            </table>
        </div>
    </div>
</div>
