
@model DMX.ViewModels.EditUserVM

<div class="modal fade" id="EditUser" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Edit User</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
            @using (Html.BeginForm("EditUser", "Account", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="did-floating-label-content">
                            <input class="did-floating-input" type="text" asp-for="@Model.Username"placeholder="" />
                            <label class="did-floating-label">Username</label>
                        </div>
                   
                    <div class="did-floating-label-content">
                    
                            <input class="did-floating-input" type="text" asp-for="@Model.Surname" placeholder="" />
                            <label class="did-floating-label">First Name</label>
                        </div>
                
                    <div class="did-floating-label-content">
                       
                            <input class="did-floating-input" asp-for="@Model.Username" placeholder="" />
                            <label class="did-floating-label"> Other Name</label>
                        </div>
                   
                    <div class="did-floating-label-content">
                  
                        
                            <input class="did-floating-input" type="text" asp-for="@Model.Email" placeholder="" />
                       <label class="did-floating-label">Email</label>
                    </div>

                <div class="did-floating-label-content">

                    <input class="did-floating-input" type="text" asp-for="@Model.Telephone" placeholder="" />
                        <label class="did-floating-label">Telephone</label>
                    </div>
                    </div>
                <div class="modal-footer">  <button class="btn btn-block btn-primary"><i class="fa fa-fw fa-lg"></i>Update</button></div>
         
            }
        </div>
    </div>
</div>
