
@model DMX.ViewModels.AddUserVM



<<<<<<< HEAD
=======
    <dialog class="col-sm-4 border-0 rounded p-0" id="AddUserDialog">

            <div class="modal-header">
>>>>>>> fixed user management

<dialog id="AddUserDialog" class="border-0 rounded py-0 col-md-4">
    <div class="card-header">
      
                <h6>Add User</h6>
                <button type="button"  onclick="document.getElementById('AddUserDialog').close()" class="btn btn-sm btn-outline-danger">Close</button>
            </div> 
            @using (Html.BeginForm("AddUser", "Permission", FormMethod.Post,new{id="addUserForm"}))
            {
            <div class="modal-body">
                       
                       <div class="did-floating-label-content">
                        <input class="did-floating-input" asp-for="@Model.Username" placeholder="" required />
                        <label class="did-floating-label">Username</label>
                       </div>
                    <div class="did-floating-label-content">
                        <input class="did-floating-input" asp-for="@Model.Firstname" placeholder="" required />
                        <label class="did-floating-label">Firstname</label>
                    </div>
                    <div class="did-floating-label-content">
                        <input class="did-floating-input" asp-for="@Model.Surname" placeholder="" required />
                        <label class="did-floating-label">Surname</label>
                    </div>
                    <div class="did-floating-label-content">
                        <input class="did-floating-input" type="email" asp-for="@Model.Email" placeholder="" required />
                        <label class="did-floating-label">Email</label>
                    </div>
                    <div class="did-floating-label-content">
   
                                    <input class="did-floating-input" type="password" asp-for="@Model.Password" placeholder="" required  />
                        <label class="did-floating-label">Password</label>
                                </div>
                 
                    <select id="selectRole" class="dmx-choices" asp-for="ApplicationRoleId" asp-items="@Model.ApplicationRoles"></select>
                           
                    </div>
                <div class="modal-footer">  <button id="btnAddUser" class="btn btn-block btn-primary"><i class="fa fa-fw fa-lg"></i>Save</button></div>
                }
<<<<<<< HEAD
              
         
</dialog>
=======
            
            </dialog>

>>>>>>> fixed user management
    <script>
        $(document).ready(function () {

            const addUserFormSelector="#addUserForm";

            $('#selectRole').select2({
                dropdownParent: $('#AddUser')
            });

        
          document.getElementById("btnAddUser").addEventListener("click", function (event) {
            event.preventDefault();

            const form = document.querySelector(addUserFormSelector);
                 if (!form.checkValidity()) {
                form.reportValidity(); // Display browser validation messages
                return; // Stop further execution if validation fails
            }

            // Validate fields

            // Show error if invalid


            // Confirm save
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you really want to save this record?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, save it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        });
    });

</script>











