
@model DMX.ViewModels.AddUserVM


   

<dialog id="AddUserDialog" class="border-0 rounded p-0 col-md-4">
    <div class="card-header">
      
                <h6>Add User</h6>
                <button type="button"  onclick="document.getElementById('AddUserDialog').close()" class="btn btn-sm btn-outline-danger">Close</button>
            </div> 
            @using (Html.BeginForm("AddUser", "Permission", FormMethod.Post,new{id="addUserForm"}))
            {
            <div class="modal-body">
                       
                       <div class="floating-group">
                        <input  asp-for="@Model.Username" placeholder="" required />
                        <label >Username</label>
                       </div>
                    <div class="floating-group">
                        <input  asp-for="@Model.Firstname" placeholder="" required />
                        <label >Firstname</label>
                    </div>
                    <div class="floating-group">
                        <input  asp-for="@Model.Surname" placeholder="" required />
                        <label >Surname</label>
                    </div>
                    <div class="floating-group">
                        <input  type="email" asp-for="@Model.Email" placeholder="" required />
                        <label >Email</label>
                    </div>
                    <div class="floating-group">
   
                                    <input  type="password" asp-for="@Model.Password" placeholder="" required  />
                        <label >Password</label>
                                </div>
                 
                    <select id="selectRole" class="dmx-choices" asp-for="ApplicationRoleId" asp-items="@Model.ApplicationRoles"></select>
                           
                    </div>
                <div class="modal-footer">  <button id="btnAddUser" class="btn btn-block btn-primary"><i class="fa fa-fw fa-lg"></i>Save</button></div>
                }

              
         
</dialog>

            
          














