
@model DMX.ViewModels.DetailMemoVM;

<div class="modal fade" id="DetailMemo" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Memo Detail</h6>
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
            <div class="modal-body">             
             
           
                
                <div class="row mb-3 ml-3"> 
                    <div class="card">
                          <div class="row">
                                       
                                        <div class="col-sm-4">
                                            <h6 class="mb-0">Full Name</h6>
                                        </div>
                                        <div class="col-sm-8 text-secondary">
                                        @Model.From
                                            </div>
                                        </div>
                                        <div class="col-6-lg">
                                            <div class="col-sm-4">
                                                <h6 class="mb-0">Recipient</h6>
                                            </div>
                                            <div class="col-sm-8 text-secondary">
                                                @Model.Recipient
                                            </div>
                                        </div>
                                    </div>
                           <div class="row">
                               <div class="col-sm-3">
                                            <h6 class="mb-0">User(s)</h6>
                               </div>
                                        <div class="col-sm-9 text-secondary">
                            @foreach(var user in Model.SelectedUsers)
                            {
                                
                            

                            <span class="badge badge-dark">@user</span>
                            
                            }

                        </div>
                                    </div>
                </div>
                </div>
                <div class="row mb-3">
                 
                        <div class="card h-100">
                            <div class="card-body">
                            @Html.Raw(@Model.Content)
                            </div>
                        </div>
                  

                </div>
                <div class="row mb-3">
                    
                        <div class="card h-100">
                            <div class="card-body">
                          
                            </div>
                        </div>
               

                </div>
                <a class="btn btn-block btn-primary" asp-action="ViewDocuments" asp-controller="Document">Return</a>
          
        </div>

    </div>
</div>