@using DMX.Constants
@using DMX.ViewComponents
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService auth

@model IEnumerable<DMX.ViewModels.ViewUsersVM>

@inject Microsoft.AspNetCore.DataProtection.IDataProtectionProvider DataProtectionProvider
@using Microsoft.AspNetCore.DataProtection
@{
    // Optional: create protector in view (same purpose string)
    var protector = DataProtectionProvider.CreateProtector("IdProtector");
}



<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">Users</h6>

<<<<<<< HEAD
        <button class="btn btn-sm btn-rounded  btn-outline-primary fa-pull-right" onclick="document.getElementById('AddUserDialog').showModal()"><i class="fa fa-fw fa-plus-circle"></i>Add User</button>
=======
        <button class="btn btn-sm btn-rounded  btn-outline-primary fa-pull-right" onclick="document.getElementById('AddUserDialog').showModal()" ><i class="fa fa-fw fa-plus-circle"></i>Add User</button>
>>>>>>> fixed user management

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class=" table dataTables_wrapper">
               
                
                        <thead>
                            <tr>

                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>

                                    <td>@user.Fullname</td>
                                    <td> @user.Username</td>

                                    <td>@user.Email</td>
                                
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-rounded btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Select Action
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                <button data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("EditUser", new { Id = @protector.Protect(user.UserId) })" class="dropdown-item-custom" data-bs-target="#EditMemo"><i style="width:15px; height:15px" class=" fa fa-edit mr-3"></i>Edit</button>
                                                <button class="dropdown-item-custom" data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("EditService", new { Id = @protector.Protect(user.UserId) })" data-bs-target="#DetailMemo"><i style="width:15px;height:15px" class="fa fa-info mr-3"></i>Profile</button>
                                             
                                                
                                          @*       @if ((await auth.AuthorizeAsync(User, Permissions.User.Delete)).Succeeded)
                                                {
                                                    <form asp-action="DeleteClient" asp-route-Id="" onsubmit="return jQueryAjaxDelete(this);">
                                                        <button type="submit" class="dropdown-item-custom"><i style="width:15px; height:15px" class="fa fa-trash mr-3"></i>Delete</button>
                                                </form>
                                                } *@
                                            </div>
                                        </div>



                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
          
        </div>
    </div>
    
<div class="card-footer"></div>
</div>
    <dialog id="EditUserDialog"><div id="EditUserDialogContent"></div></dialog>
<<<<<<< HEAD
@await Component.InvokeAsync(nameof(AddUser)) 
=======
    @await Component.InvokeAsync(nameof(AddUser))
>>>>>>> fixed user management
