
@model DMX.ViewModels.EditDeceasedVM;

<div class="modal fade" id="EditDeceased" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Add Memo</h6>
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
            <div class="modal-body">


                        @using (Html.BeginForm("EditDeceased", "Deceased", FormMethod.Post, new { enctype = "multipart/form-data" } ))
                        {
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="icon fa fa-user-circle"></i></span></div>
                                    <input class="form-control" asp-for="@Model.ReferenceNumber" type="text" placeholder="Reference Number">
                                    </div>
                                    </div>
                                    <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text "><i class="icon fa fa-user-circle"></i></span></div>
                                    <input class="form-control" asp-for="@Model.Deceased" type="text" placeholder="Document Source">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">Receipt Date</span></div>
                                    <input class="form-control    js-datepicker" asp-for="@Model.Date" placeholder="Receipt Date"  type="date"  asp-format="{0:dd/MMM/yyyy}" />

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">Document Date</span></div>
                                    <input class="form-control  js-datepicker" asp-for="@Model.Date" placeholder="Document Date"  type="date"  asp-format="{0:dd/MMM/yyyy}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    
                                 
                                    <select  id="selectUser" class="select2 form-control" asp-items="@Model.UsersList" asp-for="@Model.SelectedUsers" multiple="multiple"></select>
                                </div>

                            </div>

                            

                          

                            <button class="btn btn-block btn-primary">Save</button>

                        }
                    </div>
                            </div>
                        </div>
                        </div>
   <script>
         document.getElementById("btnEditDeceased").addEventListener("click", function (event) {
            event.preventDefault();

            const form = document.querySelector(addMemoFormSelector);
                 if (!form.checkValidity()) {
                form.reportValidity(); // Display browser validation messages
                return; // Stop further execution if validation fails
            }

            // Validate fields

            // Show error if invalid


            // Confirm save
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you really want to save this record?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, save it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        });
    });




</script>

                     