@using DMX.DataProtection
@using Microsoft.AspNetCore.Identity
@inject RoleManager<AppRole> rol;
@model DMX.ViewModels.RolePermissionVM
        
             
            <div class="card-header">
                    <h6>Add/Remove Roles for <br /><b>@rol.FindByIdAsync(@Model.RoleId).Result.Rolename</b></h6> <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
                </div>
                @using (Html.BeginForm("RolePermissions","Permission",FormMethod.Post))
                { <input asp-for="@Model.RoleId" type="hidden"/>
                <div class="modal-body">
               
               
                    
                     
                            Permission
                       
                           
                                    <input type="checkbox" id="checkAll" /> Select All
                  
                    @for (int i = 0; i < Model.RoleClaims.Count(); i++)
                    {
                   <div class="form-inline"></div>
                                <input asp-for="@Model.RoleClaims[i].Type" type="hidden" />
                                
                                <input asp-for="@Model.RoleClaims[i].Value" type="hidden" />
                                @Model.RoleClaims[i].Value
                      
                                <div class="toggle-switch">
                                    <input asp-for="@Model.RoleClaims[i].Selected" class="toggle-switch"/>
                                </div>
                       
                    }
              
       
     
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-block">Update</button>
              
                </div>
                }
        
      
 


                                    <script>
    $(document).ready(function () {
        $("#checkAll").on("change", function () {
            $(".toggle-switch").prop("checked", this.checked);
           
        });
    });
</script>