@using DMX.DataProtection
@using Microsoft.AspNetCore.Identity
@inject RoleManager<AppRole> rol;
@model DMX.ViewModels.RolePermissionVM
        
      


<div class="card-header d-flex justify-content-between align-items-center">
    <h6 class="mb-0">
        Add/Remove Roles for <br />
        <b>@rol.FindByIdAsync(@Model.RoleId).Result.Rolename</b>
    </h6>
    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
</div>




<div class="table-container">
    <h5>Permissions</h5>

    <div class="permissions-table table-responsive">
        <table class="table table-bordered mb-0 align-middle">
            <thead>
                <tr>
                    <th>Roles / Modules</th>
                    <th>Read</th>
                    <th>Create</th>
                    <th>Update</th>
                    <th>Delete</th>
                    <th>Export</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var roleClaimGroup in Model.RoleClaims.GroupBy(r => r.Type))
                {
                    <tr>
                        <td>@roleClaimGroup.Key</td>
                        <td>
                            <input type="checkbox" class="form-check-input"
                                   checked="@roleClaimGroup.Any(c => c.Value == "Read" && c.Selected)" />
                        </td>
                        <td>
                            <input type="checkbox" class="form-check-input"
                                   checked="@roleClaimGroup.Any(c => c.Value == "Create" && c.Selected)" />
                        </td>
                        <td>
                            <input type="checkbox" class="form-check-input"
                                   checked="@roleClaimGroup.Any(c => c.Value == "Update" && c.Selected)" />
                        </td>
                        <td>
                            <input type="checkbox" class="form-check-input"
                                   checked="@roleClaimGroup.Any(c => c.Value == "Delete" && c.Selected)" />
                        </td>
                        <td>
                            <input type="checkbox" class="form-check-input"
                                   checked="@roleClaimGroup.Any(c => c.Value == "Export" && c.Selected)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="text-end mt-3">
        <button class="btn btn-primary">Save Changes</button>
    </div>
</div>

<div class="text-end mt-3">
    <button type="submit" class="btn btn-primary">Save Changes</button>
</div>


                                    <script>
    $(document).ready(function () {
        $("#checkAll").on("change", function () {
            $(".toggle-switch").prop("checked", this.checked);
           
        });
    });
</script>





