
@model DMX.ViewModels.AddMemoVM;

<div class="modal fade" id="AddMemo" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Add Memo</h6>
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
            <div class="modal-body">

            @using (Html.BeginForm("AddMemo", "Document", FormMethod.Post))
            {


                        <div class="form-group">
                            <input type="text" asp-for="@Model.Title" class="form-control" placeholder="Memo Title">

                        </div>



                        <div class="form-group">
                            <input type="text" asp-for="@Model.From"  class="form-control" placeholder="From">

                        </div>
                        <div class="form-group">

        
           
                        <input type="text" asp-for="@Model.To" class="form-control" placeholder="To">


                        </div>
    
                     
                
                        
                       


                            <textarea class="form-control" asp-for="@Model.Content" type="text" placeholder="Memo Content"></textarea>


                     
                       
                            <select type="text"  id="selectMemoUser" class="select form-control" asp-items="@Model.UsersList" asp-for="@Model.SelectedUsers" multiple="multiple" placeholder="" style="width:100%"></select>

                    

                        <button class="btn btn-block btn-primary">Save</button>

            }


        </div>
    </div>
    </div>
</div>

    <script>
        $(document).ready(function () {
   
            $('#selectMemoUser').select2({dropdownParent:$('#AddMemo')});
             $('#selectMemoUser').select2({placeholder:"Select Users",
             allowClear:true });
           
            
        });
    </script>
