
@model DMX.ViewModels.AddTravelRequestVM;




<div class="modal fade" id="AddTravelRequest" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Add Travel Request</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
            <div class="modal-body">


            @using (Html.BeginForm("AddTravelRequest", "TravelRequest", FormMethod.Post))
            {
                    <div class="did-floating-label-content">
                        <input type="text" asp-for="@Model.Name" class="did-floating-input" placeholder="" required />
                        <label class="did-floating-label">Name</label>
                    </div>
                    <div class="did-floating-label-content">
                        <select id="selectRank" class="did-floating-select" asp-items="@Model.RankList" asp-for="@Model.RankId" placeholder="" required></select>
                        <label class="did-floating-label">Select Rank</label>
                    </div>
                    <div class="did-floating-label-content">
                        <select id="selectDept" class="did-floating-select" asp-items="@Model.DeptList" asp-for="@Model.DepartmentId" placeholder="" required></select>
                        <label class="did-floating-label">Select Department</label>
                    </div>

                        <div class="did-floating-label-content">
                            <input type="text" asp-for="@Model.NightAbsent"  class="did-floating-input" required/>
                            <label class="did-floating-label">Night Absent</label>
                        </div>
                    
                                <div class="did-floating-label-content">


                                <input type="date" asp-for="@Model.DepartureDate" class="did-floating-input" asp-format="{0:dd/MMM/yyyy}" required/>
                                <label class="did-floating-label">Departure Date</label>

                            </div>
                     
                        <div class="did-floating-label-content">
                            <input type="text" asp-for="@Model.FuelClaim" name="footer-email" class="did-floating-input" required/>
                            <label class="did-floating-label">Fuel Claim</label>
                        </div>
                    <div class="did-floating-label-content">
                        <input type="date" asp-for="@Model.DateofReturn" class="did-floating-input" asp-format="{0:dd/MMM/yyyy}" required />
                        <label class="did-floating-label">Date of Return</label>

                    </div>
                  
                    <div class="form-group">

                        <textarea class="did-floating-input" asp-for="@Model.AdditionalNotes" type="text" placeholder="Additional Information" required></textarea>

                        </div>
                    <div class="form-group">
                      <div class="did-floating-label-content">
                            <select  id="selectUserTravelRequest" class="did-floating-select" asp-items="@Model.UsersList" asp-for="@Model.SelectedUsers" placeholder="" required></select>
                        <label class="did-floating-label">Select User</label>
                      </div>
                      </div>

                        <button class="btn btn-block btn-primary">Save</button>
            }


        </div>
    </div>
</div>
</div>
<script>
    $(document).ready(function () {

        $('#selectUserTravelRequest').select2({ dropdownParent: $('#AddTravelRequest') });
        $('#selectRank').select2({ dropdownParent: $('#AddTravelRequest') });
        $('#selectDept').select2({ dropdownParent: $('#AddTravelRequest') })

    });
</script>