
@model DMX.ViewModels.AddTravelRequestVM;




<div class="modal fade" id="AddTravelRequest" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Add Travel Request</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
             @using (Html.BeginForm("AddTravelRequest", "TravelRequest", FormMethod.Post))
            {
               
            <div class="modal-body">
            

               <fieldset class=" rounded p-1 form-group" style="border: 1px Solid #3d85d8;">
                                <legend class="float-none w-auto px-1" style="color:#1e4c82;font-size:13px">Select Travel Type</legend>
                       <div class="btn-group-sm">
                                @foreach (var travel in Model.TravelTypes)
                        {

                            <label class=" btn btn-sm btn-outline-primary">

                                <input type="radio" asp-for="@Model.TravelTypeId" required class="option-input radio" value="@travel.Value" id="Travel@(travel)" />
                                @travel.Text
                            </label>

                        }

                    </div>
                    </fieldset> 
                    <div class="did-floating-label-content">
                            <input type="text" asp-for="@Model.PurposeofJourney"  class="did-floating-input" placeholder="" required/>
                            <label class="did-floating-label">Purpose</label>
                        </div>
                    <div class="row">
                        <div class="col">
                    <div class="did-floating-label-content">


                        <input type="date" asp-for="@Model.DepartureDate" class="did-floating-input" asp-format="{0:dd/MMM/yyyy}" required />
                        <label class="did-floating-label">Start Date</label>

                    </div>
                    </div>
                    <div class="col">

                            <div class="did-floating-label-content">


                                <input type="date" asp-for="@Model.DepartureDate" class="did-floating-input" asp-format="{0:dd/MMM/yyyy}" required />
                                <label class="did-floating-label">End Date</label>

                            </div>
                            </div>
                            <div class="col">
                        <div class="did-floating-label-content">
                            <input type="text" asp-for="@Model.NightAbsent"  class="did-floating-input" required/>
                            <label class="did-floating-label">Days Absent</label>
                        </div>
                    </div>
                        <div class="col">
                            <div class="did-floating-label-content">
                                <input type="text" asp-for="@Model.NightAbsent" class="did-floating-input" required />
                                <label class="did-floating-label">Amt</label>
                            </div>
                        </div>
                            </div>
                     
                        
                    <div class="did-floating-label-content">
                        <input type="date" asp-for="@Model.DateofReturn" class="did-floating-input" asp-format="{0:dd/MMM/yyyy}" required />
                        <label class="did-floating-label">Date of Return</label>

                    </div>
                  
                    <div class="form-group">

                        <textarea class="did-floating-input" asp-for="@Model.AdditionalNotes" type="text" placeholder="Additional Information" required></textarea>

                        </div>
                    <div class="form-group">
                      <div class="did-floating-label-content">
                            <select id="selectUserTravelRequest" class="did-floating-select" style="width:100%" asp-items="@Model.UsersList" asp-for="@Model.SelectedUsers"></select>
                        <label class="did-floating-label">Select Approver(s)</label>
                      </div>
                      </div>

                        <button class="btn btn-block btn-primary">Save</button>
            
        
            </div>
         
            }
        </div>
    </div>
</div>
</div>
<script>
    $(document).ready(function () {

        $('#selectUserTravelRequest').select2({ dropdownParent: $('#AddTravelRequest') });
        $('#selectRank').select2({ dropdownParent: $('#AddTravelRequest') });
        $('#selectDept').select2({ dropdownParent: $('#AddTravelRequest') });

    });
</script>